* {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-color: #F8EBE3; 
    scroll-behavior: smooth;
    width: 100vw;
}

.navbar {
    display: none;
}

 .headercontainer {
    width: 15rem;
    display: flex;
    justify-content: space-evenly;
    margin-top: 1.5rem;
    margin-right: 3vw;
}

.logo {
    margin-top: 1rem;
    font-size: 32px;
    font-weight: 800;
    padding-left: 3vw;
}

.top1, .top2 {
    height: 40px;
}

.top1, .down2 {
    border: 1px #2b2d42 solid;
    color: #2b2d42;
}

.top1:hover, .down2:hover {
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
}

.top2, .down1 {
    background-color: #2b2d42;
    border: none;
}

.top2:hover, .down1:hover {
    background-color:#836196;
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
} 

header {
    width: 100vw;
    height: 5rem;
    position:sticky;
    display: flex;
    justify-content: space-between;
    gap: 6rem;
    margin: 0;
    border-bottom: 1px gray solid;
}

.firstscreen {
    height: 90vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* portfolio idea: 
    background-image: linear-gradient(to bottom, #f8ebe3, #0A0B06); */
}

.down {
    margin-top: 5vh;
}

.login {
    width: 100px;
    border: 0.5px solid gray;
    border-radius: 50PX;
}

.short , .long {
    border-right: 0.5px gray solid;
    border-top:0.5px gray solid;
}

#maincontainer {
    width: 100vw;
    height: 130vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position: sticky;
}

.long {
    grid-row: 1 / span 2;
    padding-top: 18rem;
    padding-left: 3vw;
    padding-right: 1vw;
    line-height: 2em;
    font-size: 18px;
}

.long h2 {
    line-height: 3rem;
    font-weight: 600;
}

.short {
    padding-top: 1.5rem;
    padding-left: 3vw;
    padding-right: 1vw;
    font-size: 18px;
    height: 100%
}

.short h2 {
  font-weight: 600;
  font-size: 25px;
}

.short img {
    border-radius: 10%;
    width: 80%;
    height: 15rem;
}

.buzz {
    width: 100%;
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: center;;
}

.one {
    height: 100vh;
    width: 83vw;
}

#sidebar {
    border-bottom: 0.5px gray solid;
    border-top: 0.5px gray solid;
    width: 17vw;
    height: 100vh;
    position: sticky;
    top: 0;
    padding: 7rem 3vw 0 2vw;
}

.options, .choices {
    padding-bottom: 15px;
    border-bottom: 1px gray solid;
    font-size: 18px;
}

.options:hover , .choices:hover{
    text-decoration: underline;
    transform: translateY(-3px);
    transition: 0.3s ease-in-out;
}

.need {
    padding-top: 8rem;
}

#sidebar a {
    color: #2b2d42;
}

#thirdscreen {
   display: flex;
   justify-content: space-between;
   width: 100vw;
}

.scrollpart {
    width: 100vw;
    background-image: linear-gradient(to bottom, #2b2d42, #0A0B06);
}

.side {
    padding-top: 20vh;
    padding-left: 1rem;
    color: #F8EBE3;
}

.side h1 {
    font-size: 50px;
    width: 100%;
}

.side p {
    font-size: 25px;
    margin-top: 7vh;
    line-height: 25px;
    margin-bottom: 5vh;
}

.img {
    border-radius: 7%;
    width: 100%;
    margin-bottom: 9vh;
}

.imagecontainer {
    padding-left: 3vw;
    width: 55%;
    text-align: center;
}

#zero, #one, #two, #three {
    display: flex;
    justify-content: space-evenly;
    width: 70vw;
    margin-top: 7vh;
    gap: 3rem
}

.bar {
    width: 32vw;
    border-right: 0.5px gray solid;
    border-bottom: 0.5px gray solid;
    padding: 5rem 3vw 0 3vw;
}

.bar h2 {
    margin-bottom: 6rem;
}
.choices {
    margin-bottom: 2rem;
}

.imgscontainer {
    width: 68vw;
    height: 110vh;
    border-bottom: 0.5px gray solid;
    display: flex;
    justify-content: center;
}

#lastflex {
    display: flex;
    justify-content: space-between;
}

#colorcontainer {
    background-color: #836196;
    width: 70vw;
    height: 105vh;
    border-radius: 20px;
    margin: 1rem;
}

#colorcontainer p {
    font-size: 25px;
    padding-left: 3vw;
}

#colorcontainer ul {
    font-size: 20px;
    padding-left: 7vw;
    padding-right: 7vw;
    line-height: 32px;
    margin-top: 4rem;
}

#step2, #step3, #step4 {
    display: none;
}

#assembly {
    display: flex;
    justify-content: center;
    gap: 9vw;
    width: 100vw;
    height: 35vh;
    border-bottom: 0.5px gray solid;   
}

.straightp {
    width: 8vw;
    height: 16vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1.5px solid #2b2d42;
    border-radius: 100%;
    transition: all 0.3s;
    font-size: 18px;
}

.straightp p {
    padding: 0;
    margin: 0;
}

#straight h2 {
    font-size: 30px;
    padding-left: 3vw;
    padding-top: 3vh;
    margin-bottom: 7vh;
}

.straightp:hover {
   background-color: #2b2d42;
   color: white; 
}

#info {
    padding-left: 3vw;
    padding-top: 8vh;
    font-size: 33px;
    font-weight: 600;
}

#newsletter1 {
    background-color: #F8EBE3;
    border: 1px #0A0B06 solid;
}

.row {
    padding-left: 3vw;
}

@media screen and (max-width: 800px) {
    
    
    .headercontainer, .logo {
        display: none;
    }

    .navbar {
        display: block;
        border-bottom: 1.5px #0A0B06 solid;
        background-color: #F8EBE3;
        padding: 0;
    }

    .container-fluid {
         background-color: #F8EBE3;
         padding-top: 0.5em;
         padding-bottom: 0.5em;
    }

    .offcanvas {
        background-color: #F8EBE3;
        max-width: 300px;
    }

    .logo2 {
        font-size: 1.8rem;
        font-weight: 800;
        padding-left: 3vw;
        margin-bottom: 0;
    }
    
   .navbar-toggler {
        margin-right: 5vw;
   } 

   .navbar-toggler {
        color: #2b2d42;
   }

    header {
        justify-content: space-evenly;
        border: none;
         background-color: #F8EBE3;
    }

    #maincontainer {
        grid-template-columns: 1fr 1fr;
        height: 100%;
    }

    .long {
        padding-top: 1rem;
        font-size: 1rem;
        padding-right: 2vw;
    }

    .long h2 {
        font-size: 1.3rem;
        line-height: 27px;
    }

    .short h2 {
        font-size: 1.2rem;
        margin-top: 0;
    }

    .short {
        font-size: 1rem;
        line-height: 1.5rem;
          padding-right: 2vw;
    }

    .buzz {
        display: none;
    }

    #thirdscreen {
        display: block;
        width: 100vw;
    }

    .side {
    margin-top: 2vh;
    padding: 2vh 7vw 0 5vw;
    width: 100vw;
    margin-left: 7.1vw;
    }
    
    .side h1 {
        font-size: 43px;
    }

    .side p {
        font-size: 20px;
        margin-top: 2vh;
        line-height: 30px;
        margin-right: 3vw;
    }

    .img {
        height: 35vh;
        width: 75%;
        margin: 5vh 0 1vh 0 ;
        padding-left: 0;
        /* TLBR*/
    }

    .imagecontainer {
        text-align: center;
        width: 100%;
    }

    #zero, #one, #two, #three {
        display: block;
        width: 100vw;
        margin-top: 7vh;
    }

    #three button {
        margin-bottom: 7vh;
    }

    #sidebar {
        display: none;
    }

    .imgscontainer, .bar {
        height: 70vh;
    }

    #colorcontainer {
        height: 65vh;
    }

    .bar, .imgscontainer, #fourthscreen {
        display: none;
    }


    .bar h2 {
        font-size: 22px;
        margin-bottom: 5vh;
        padding: 0;
    }

    .bar p {
        font-size: 15px;
        padding: 0;
        margin: 0;
        margin-bottom: 4vh;
    }


    #assembly {
    gap: 3vw;
    width: 100vw;
    height: 17vh;  
    padding-left: 3vw;
}

#straight {
     padding-top: 4vh;
}

    .straightp {
        width: 3.5rem;
        height: 3.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: none;
        font-size: 16px;
    } 

    #straight h2 {
    font-size: 23px;
    padding-top: 3vh;
    margin-bottom: 4vh;
}

.third {
    display: none;
}

.short {
    border-bottom: 0.5px gray solid;
}

}

@media screen and (min-width: 801px) and (max-width: 1024px){
    #maincontainer {
        grid-template-columns: 1fr 1fr;
    }

    #thirdscreen {
        display: block;
        width: 100vw;
    }

    #sidebar {
        display: none;
    }

    .side {
    margin-top: 2vh;
    padding: 2vh 7vw 0 5vw;
    width: 100vw;
    width: 70vw;
    margin-left: 10vw;
    }

    
    .side h1 {
        font-size: 45px;
    }

    .side p {
        font-size: 20px;
        margin-top: 2vh;
        margin-bottom: 0;
        line-height: 30px;
    }

   .img { height: 35vh;
        width: 70%;
        margin: 5vh 0 1vh 0 ;
        padding-left: 0;}

    .imagecontainer {
        text-align: center;
        width: 100vw;
    }    

    #zero, #one, #two, #three {
        display: block;
        width: 100vw;
        margin-top: 7vh;
    }

    #three button {
        margin-bottom: 7vh;
    }

    .imgscontainer, .bar {
        height: 70vh;
    }

    #colorcontainer {
        height: 65vh;
    }

    #fourthscreen {
        display: block;
    }

    .bar h2 {
        font-size: 22px;
        margin-bottom: 7vh;
        padding: 0;
        padding-top: 5vh;
    }

    .bar p {
       font-size: 20px;
        padding: 0;
        margin: 0;
        margin-bottom: 4vh;
    }

    #assembly {
    gap: 3vw;
    width: 100vw;
    height: 17vh;  
    padding-left: 3vw;
}

    .straightp {
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
         align-items: center;
        border-radius: 50;
        /* font-size: 18px; */
    } 
}
